{% extends "base.html" %}

{% block title %}
    Project View
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>{{ show_project.name }}</h1>
        <p>{{ show_project.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url "create_task" %}">Create a new task</a>
        </p>
        {% if list_tasks.all %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in list_tasks.all %}
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.assignee.username|default:"None" }}</td>
                            <td>{{ i.start_date }}</td>
                            <td>{{ i.due_date }}</td>
                            <td>{{ i.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
