{% extends "base.html" %}

{% block title %}
Project List
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <div>
            <a href="{% url "create_project" %}">Create a new project</a>
        </div>
        {% if list_projects %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for i in list_projects %}
                    <tr>
                        <td><a href="{% url "show_project" i.id %}">{{ i.name }}</a></td>
                        <td>{{ i.tasks.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
